/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"; /*ここを追加*/
@import "bootstrap"; /*ここを追加*/
@import "froala_editor.min";
@import "froala_style.min";
@import "plugins/char_counter.min.css";
@import "plugins/code_view.min.css";
@import "plugins/colors.min.css";
@import "plugins/emoticons.min.css";
@import "plugins/file.min.css";
@import "plugins/fullscreen.min.css";
@import "plugins/image_manager.min.css";
@import "plugins/image.min.css";
@import "plugins/line_breaker.min.css";
@import "plugins/quick_insert.min.css";
@import "plugins/table.min.css";
@import "plugins/video.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  color: #333;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体",
    "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ",
    "Meiryo", "verdana", sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #5c6567;
  text-decoration: none;
}
li {
  list-style: none;
}
section {
  margin: 5%;
}
.standard__txt {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.15em;
}
.text_color_white {
  color: #fff;
}
.text_color_brown {
  color: #dbd1c8;
}
.text_size_s {
  font-size: 15px;
}
/*-----header-------*/
header {
  width: 100%;
  position: fixed;
  z-index: 99;
}
.header__wrap {
  width: 90%;
  margin: 0 auto;
}
.logo__img {
  width: 100px;
  margin: 10px;
}
.header__flex {
  display: flex;
  justify-content: space-between;
}
.nav__flex {
  display: flex;
  justify-content: space-around;
}
.header__nav__list {
  margin-right: 30px;
  margin-top: 50px;
}
.header__nav__list:nth-child(3) {
  margin-right: 20px;
}
/*-----footer-------*/
.footer__txt {
  margin-right: 20px;
}

/*-------main--------*/

/*-----main-visual-------*/

.slide {
  width: 100%;
  height: auto;
}
.slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.section__title {
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  position: relative;
}
.section__title:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #000;
}

/*-----blog-------*/
.blog .container {
  max-width: 1000px;
}
.blog__card__flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
}
.card {
  width: 20rem;
  margin: 20px;
}
.blog__card__img {
  width: 100%;
  height: 180;
  margin-bottom: 25px;
}
.card-text {
  margin-bottom: 20px;
  font-size: 1.1em;
}
.date__txt {
  color: #777;
  margin: 0px;
}
.category__txt {
  color: #777;
  margin: 0px;
}
.blog__index {
  margin: 20% 0px;
}
.blog__show {
  padding: 100px 0px;
}
.blog__cont {
  width: 80%;
  margin: 0 auto;
}
.blog__border {
  content: "";
  width: 80%;
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #a2a2a2;
}
.blog__main__bg {
  width: 100%;
  height: 400px;
  opacity: 0.5;
}
.blog__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*------------profile-------------*/
.profile__cont {
  width: 70%;
  margin: 5% auto;
}
.profile__img {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.profile__txt {
  text-align: center;
}

/*------------フォーム全般-------------*/
.form {
  margin-top: 10%;
}
.form__cont {
  max-width: 600px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.form__midashi {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}
input:focus,
textarea:focus {
  border: 2px solid #333;
}
.form__label {
  margin: 5px 0px;
  width: 100%;
  display: flex;
  align-items: center;
}
.form__item {
  margin-right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #dbd1c8;
}
.form__item_input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px;
  height: 45px;
  width: 100%;
  background: #fff;
  font-size: 15px;
}
.form__item_input_s {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px;
  margin-right: 10px;
  height: 45px;
  width: 47%;
  background: #fff;
  font-size: 15px;
}
.form__item_textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 0;
  height: 200px;
  background: #fff;
  font-size: 15px;
}
.form__item_select {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px;
  margin-right: 10px;
  height: 45px;
  width: 47%;
  background: #fff;
  font-size: 15px;
}

.form__btn {
  margin: 10px auto;
  padding: 10px 50px;
  display: block;
  border: none;
  border-radius: 15px;
  color: #fff;
  background-color: #dbd1c8;
}
.form__btn:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 20px 0 rgba(0, 0, 0, 0.12),
    0 5px 6px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease-in-out;
}

.form__btn:active {
  border: 0px;
}
select.read-only,
input:read-only,
textarea:read-only {
  background-color: #ddd;
}
#nav2 {
  display: none;
}
.search__input {
  width: 80px;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
  font-size: 15px;
}
.search__input2 {
  width: 200px;
  border: none;
  border-bottom: 3px solid #fff;
  background: transparent;
  margin-top: 30px;
  font-size: 15px;
}
#nav {
  input:focus {
    border: none;
    border-bottom: 1px solid #333;
  }
  input::placeholder {
    color: #333;
  }
}
#nav2 {
  input:focus {
    border: none;
    border-bottom: 3px solid #333;
  }
  input::placeholder {
    color: #fff;
  }
}
.search__btn {
  margin-left: -10px;
  border: none;
  background-color: transparent;
  position: relative;
}
.search__btn2 {
  margin-left: -40px;
  border: none;
  background-color: transparent;
  position: relative;
}
/*------------------------------スマホ版-----------------------------*/
@media (max-width: 1200px) {
  /*------------共通-------------*/
  .logo__img {
    width: 50px;
  }
  .header__nav__list {
    margin-top: 20px;
  }
  .container {
    padding-top: 10%;
    width: 90%;
  }
  .blog__show {
    margin: -30px;
  }
  .blog__main__bg {
    height: 300px;
  }
  /*------------profile-------------*/
  .profile__cont {
    width: 90%;
    margin: 5% auto;
  }
  .profile__img {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}
@media (max-width: 700px) {
  /*------------ハンバーガメニュー-------------*/
  #nav {
    display: none;
  }
  #nav2 {
    display: block;
  }

  #nav-toggle {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 32px;
    cursor: pointer;

    div {
      position: relative;
      width: 36px;
    }
    span {
      width: 100%;
      height: 1px;
      left: 0;
      display: block;
      background: #333;
      position: absolute;
      transition: transform 0.6s ease-in-out, top 0.5s ease;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 14px;
      }
      &:nth-child(3) {
        top: 28px;
      }
    }

    &:hover span:nth-child(1) {
      top: 4px;
    }
    &:hover span:nth-child(3) {
      top: 23px;
    }
  }

  .open {
    #nav-toggle span {
      background: #fff;

      &:nth-child(1) {
        top: 15px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        top: 15px;
        width: 0;
        left: 50%;
      }
      &:nth-child(3) {
        top: 15px;
        transform: rotate(-45deg);
      }
    }
  }

  /* z-index */
  #nav-toggle {
    z-index: 1000;
  }
  #container {
    z-index: 900;
  }

  #gloval-nav {
    background: #dbd1c8;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
  }

  #gloval-nav {
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 10px 0;
      transition: color 0.6s ease;

      &:hover {
        color: #666;
      }
    }

    ul {
      list-style: none;

      li {
        opacity: 0;
        transform: translateX(200px);
        transition: transform 0.6s ease, opacity 0.2s ease;

        &:nth-child(2) {
          transition-delay: 0.15s;
        }
        &:nth-child(3) {
          transition-delay: 0.3s;
        }
        &:nth-child(4) {
          transition-delay: 0.45s;
        }
        &:nth-child(5) {
          transition-delay: 0.6s;
        }
        &:nth-child(6) {
          transition-delay: 0.75s;
        }
        &:nth-child(7) {
          transition-delay: 0.9s;
        }
      }
    }
  }

  /* open */
  .open {
    overflow: hidden;

    #gloval-nav {
      visibility: visible;
      opacity: 1;
    }

    #gloval-nav li {
      opacity: 1;
      transform: translateX(0);
      transition: transform 1s ease, opacity 0.9s ease;
    }
  }
}
.g-search_input {
  display: block;
  border: none;
  width: 154px;
  float: right;
  margin-right: 24px;
  padding-bottom: 2px;
  border-bottom: 1px solid #bbc1c2;
  vertical-align: middle;
  line-height: 1.2;
  color: #8a8a8a;
  cursor: pointer;
  outline: none;
  background: 0 0;
}
.g-search_btn {
  width: 18px;
  height: 18px;
  margin-top: -7px;
}
.g-search_btn {
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 13px;
  margin-top: -5px;

  text-indent: -999em;
}
